.cart-container {
  width: 100%;
  margin: 40px auto;
  padding: 20px;
}

.shopping-cart {
  padding: 20px;
}

.cart-container table {
  width: 100%;
  margin-bottom: 20px;
}

.cart-container thead {
  background-color: #f2f2f2;
}

.cart-container tbody tr td:first-child {
  border-left: 1px solid #ddd;
}

.cart-container tbody tr td:last-child {
  border-right: 1px solid #ddd;
}

.cart-container tfoot tr td {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.cart-container th,
.cart-container td {
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.cart-container th {
  font-weight: bold;
  background-color: #d7d7d7;
}

.cart-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.quantity-minus,
.quantity-plus {
  background-color: #e1e1e1;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.quantity-input {
  text-align: center;
  width: 40px;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 4px;
}

.remove-item {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #000;
  transition-duration: 0.3s;
}

.remove-item:hover {
  color: #ff7004;
}

.cart-container table td,
.cart-container table th {
  text-align: center;
  vertical-align: middle;
}

.cart-container table td img {
  display: block;
  margin: 0 auto;
}

.cart-summary {
  text-align: right;
  font-size: 1.2em;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

.cart-actions {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.clear-cart,
.checkout {
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  color: white;
  font-size: 15px;
}

.clear-cart {
  background-color: #ff751a;
  transition-duration: 0.3s;
}

.clear-cart:hover {
  background-color: #0c1e38;
}

.checkout {
  background-color: #0c1e38;
  transition-duration: 0.3s;
}

.checkout:hover {
  background-color: #ff751a;
}

.grand-total {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  font-weight: bolder;
}

.grand-total span:first-child {
  color: #ff751a;
}

.grand-total span:last-child {
  color: #0c1e38;
}

.cart-container tfoot td {
  padding-right: 30px;
}

@media only screen and (max-width: 1000px) {
  .cart-container {
    max-width: 80%;
    margin: 20px auto;
    padding: 10px;
  }

  .shopping-cart {
    padding: 10px;
  }

  .cart-container table {
    font-size: 14px;
  }

  .cart-container th,
  .cart-container td {
    padding: 10px;
  }

  .cart-container img {
    width: 100%;
    height: 100%;
  }

  .quantity-minus,
  .quantity-plus {
    padding: 3px 5px;
  }

  .quantity-input {
    width: 20px;
    padding: 2px;
  }

  .remove-item {
    font-size: 1em;
  }

  .cart-summary {
    font-size: 1em;
    padding: 5px 0;
  }

  .cart-actions {
    flex-direction: column;
    padding: 10px;
  }

  .clear-cart,
  .checkout {
    padding: 10px 20px;
    margin: 10px;
    font-size: 13px;
  }

  .grand-total {
    font-size: 16px;
  }

  .cart-container tfoot td {
    padding-right: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .cart-container {
    max-width: 80%;
    margin: 10px auto;
    padding: 5px;
  }

  .shopping-cart {
    padding: 5px;
  }

  .cart-container table {
    font-size: 7px;
  }

  .cart-container th,
  .cart-container td {
    padding: 5px;
  }

  .cart-container img {
    width: 50px;
    height: 50px;
  }

  .quantity-minus,
  .quantity-plus {
    padding: 1.5px 2.5px;
  }

  .quantity-input {
    width: 10px;
    padding: 1px;
  }

  .remove-item {
    font-size: 1em;
  }

  .cart-summary {
    font-size: .5em;
    padding: 2.5px 0;
  }

  .cart-actions {
    flex-direction: row;
    padding: 5px;
  }

  .clear-cart,
  .checkout {
    padding: 5px 10px;
    margin: 5px;
    font-size: 6.5px;
  }

  .grand-total {
    font-size: 8px;
  }

  .cart-container tfoot td {
    padding-right: 7.5px;
  }
}

