.empty-icon{
    width:100%;
    display:grid;
    gap: 10px 20px;
    justify-items: center;
    align-items: center;
    padding: 50px 0 40px 0;
}
.empty-icon h5{
    color:black;
    font-weight:550;
    }
    @media (max-width: 1000px) {
        .empty-icon {
          padding: 20px 0 10px 0;
          gap: 5px 10px;
        }
        .empty-icon h5 {
          font-size: 18px;
        }
      }