
.M-footer {
  width: 100%;

}
.footer {
  background-color: #333;
  color: #fff;
  padding: 2.5rem 2.5rem;
  width:100%;
}



.contain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #333;
}

.footer-section {
  margin:2.5rem 0rem;
}

.footer-section h4 {
  margin-bottom: 1.25rem;
  display: flex;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  flex-direction: column;
}

.footer-section li {
  margin-bottom: 0.625rem;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
  margin-right: 0.9375rem;
  text-wrap: nowrap;
}

.footer-section a:hover {
  color: #ff7004;
  text-decoration: none;
}

.social-icons a {
  margin-right: 0.9375rem;
}

.social-icons a:hover {
  color: #fff;
}

.footer-section li:hover {
  transform: translateX(0.3125rem);
  transition: transform 0.3s ease;
}

.social-icons a {
  width: 1.875rem;
  height: 1.875rem;
  background-color: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a:hover {
  background-color: #ff7004;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  display: flex;
  flex-direction: row;
}

.newsletter input {
  display:block;
  padding: 0.625rem;
  margin-right: 0.625rem;
  margin-bottom: 0.625rem;
  border: 0.0625rem grey solid; 
  background-color: transparent;
  width:12.5rem;
}

.newsletter input:hover {
  padding: 0.625rem;
  margin-right: 0.625rem;
  margin-bottom: 0.625rem;
  border: 0.0625rem #ff7004 solid; 
  background-color: transparent;
  outline: none;
  transition: all 0.5s;
}

.newsletter input:focus {
  outline: none;
  transition: all 0.5s;
  caret-color: white;
}

.newsletter input::placeholder {
  color: white;
  transition: all 0.5s;
}

.subscribe-btn {
  background-color: #ff7004;
  color: #fff;
  padding: 0.625rem 1.25rem; 
  border: none;
  cursor: pointer;
}

.subscribe-btn:hover {
  background-color: #000;
  transition: all 0.5s;
}

.fa-paper-plane {
  margin-right: 0.5rem;
}

.copyright {
  text-align: center;
  padding: 2.5rem;
  background-color: #000;
  color: white;
  height: 10vh;
  width:100%
}

.heart {
  color: white;
}

@media only screen and (max-width: 480px) {
  .footer {
    padding: 1.25rem;
  }
  .contain {
    flex-direction: column;
  }
  .footer-section {
    margin: 1.25rem;
  }
  .footer-section h4 {
    margin-bottom: 0.625rem;
  }
  .social-icons a {
    margin-bottom: 0.625rem;
  }
  .newsletter input {
    width: 100%;
  }
  .subscribe-btn {
    width: 100%;
  }
  .copyright {
    padding: 1.25rem;
    font-size: 0.875rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .footer {
    padding: 30px;
  }
  .contain {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-section {
    margin: 30px;
    width: 100%;
  }
  .footer-section h4 {
    margin-bottom: 15px;
  }
  .social-icons {
    flex-direction: row;
  }
  .copyright {
    padding: 30px;
    font-size: 16px;
  }
}