.Main_b_car{
  width:100%;
}
.carousel-inner .carousel-caption {
  padding-bottom: 10rem;
  opacity: 0;
  transform: translateY(5vh);
  animation: fadeInUp 1s ease forwards;
}

.carousel img {
  height: 100vh;
  width:100vw;

}

.carousel-inner .carousel-caption h1 {
  animation: fadeInUp 0.5s ease forwards, delayFadeInUp 0.5s ease forwards;
  font-size: 3rem;
}

.carousel-inner .carousel-caption h3 {
  animation: fadeInUp 0.7s ease forwards, delayFadeInUp 0.7s ease forwards;
  font-size: 1.5rem;
  -webkit-animation: fadeInUp 0.7s ease forwards, delayFadeInUp 0.7s ease forwards;
}

.carousel-inner .carousel-caption button {
  animation: fadeInUp 0.9s ease forwards, delayFadeInUp 0.9s ease forwards;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
}

.carousel-inner .carousel-caption p {
  animation: fadeInUp 1s ease forwards, delayFadeInUp 0.3s ease forwards;
  -webkit-animation: fadeInUp 1s ease forwards, delayFadeInUp 0.3s ease forwards;
  font-size: 1rem;
}

.btn-O {
  background-color: #ff7004;
  color: white;
  padding: 2vw 4vw;
  border: none;
}

.btn-O:hover {
  background-color: #0c1e38;
  color: #ff7004;
  transition: all 0.5s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 592px) {
  .Main_b_car {
    width: 100%;
  }
  .carousel img {
    height: 100vh;
    width: 100vw;
  }
  .carousel-inner .carousel-caption {
    padding-bottom: 10rem;
  }
  .carousel-inner .carousel-caption h1 {
    font-size: 2rem;
  }
  .carousel-inner .carousel-caption h3 {
    font-size: 1.2rem;
  }
  .carousel-inner .carousel-caption button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
  .carousel-inner .carousel-caption p {
    font-size: 0.8rem;
  }
  .btn-O {
    padding: 1vw 2vw;
    font-size: 0.8rem;
  }
}