.category {
  border-radius: 50%;
  /* Makes the image container circular */
  overflow: hidden;
  /* Ensures the image is clipped within the circle */
}

/* General Styling */
.product-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
}

.description {
  margin-bottom: 2em;
  color: #666;
}

.filter-options {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.filter-option {
  padding: 5px;
  margin:5px;
  cursor: pointer;
}

.category-grid {
  display: flex;
  padding: 50px;
  flex-direction: row;
  justify-content: space-evenly;
}

.category {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px black solid;
  cursor: pointer;

}

.category:hover {
  border: #f90 dashed;
  transition: all 0.2s;
}

.category img {
  margin-top: 30px;
  width: 80px;
  height: 80px;

}

.category-name {
  position: absolute;
  width: 100%;
  margin: auto;
  color: black;
  padding: 20px;
}