.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #f8f8f8;
  padding:20px 60px;
  transition: top 0.5s;
}

.search-bar {
  position: fixed;
  width: 100%;
  height: 15vh;
  background-color: white;
  z-index: 2000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  align-items: center;
}

.search-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.form-wrap {
  margin-bottom: 40px;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  margin-right: 0px;
  font-size: 16px;
  outline: none;
  width: 300px;
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 8px 16px;
  background-color: #ff7004;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  position: relative;
  flex-direction: column;
}
.search-content .search-button:hover {
  background-color: #000;
  color:white;
}
.search-content .icon:hover {
  color: white;
  
}

.clear-button {
  position: absolute;
  background: none;
  border: none;
  bottom:10px;
  cursor: pointer;
  padding:5px;
  transition: all 2s ease-in-out;
}

.clear-button:hover {
  transform: translateY(0);
  transition: all 2s ease-in-out;
}
.clear-button::after{
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: black;
  transition: transform 0.3s ease-in-out;
  transform: rotate(-45deg);

}
.clear-button::before{
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: black;
  transition: transform 0.3s ease-in-out;
  transform: rotate(45deg);
}
.clear-button:hover::before {
  transform: rotate(0);
}

.clear-button:hover::after {
  transform: rotate(0);
}
.clear-button svg {
  margin-right: 5px;
}


.overlay {
  position: absolute;
  top: 15vh;
  left: 0;
  width: 100vw;
  height: 85vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1500;
  transition: opacity 0.3s;
  pointer-events: none;
}

.navbar.hide {
  top: -15vh;
    transition: top 0.5s;
}

.search-bar.show {
  top: 0;
  transition: top 0.5s;
}
.search-bar.hide {
  top: -15vh;
  transition: top 0.5s;
}

.overlay.hide {
  opacity: 0;
  pointer-events: none;
}


.logo {
  height: 50px;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

a {
  border: none;
  color: black;
  text-decoration: none;

}

span {
  cursor: pointer;
}

a:hover,
span:hover {
  color: #ff7004;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

li {
  margin: 0 15px;
  position: relative;
}

.icon-box {
  display: flex;
  align-items: center;
}

.icon-box img {
  height: 25px;
  margin-left: 10px;
}

.icon-box button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.dropdown-content li {
  margin: 10px;
  padding: 5px 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 100;
}

.dropdown-content li ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}

.dropdown-content li:hover ul {
  display: block;
}

img:hover {
  color: #ff7004;
}

.icon-button {
  background-color: transparent;
  border: none;
}

.icon-button:hover .icon {
  color: orange;
}

.icon-button:hover .Search-icon,
.icon-button:hover .User-icon,
.icon-button:hover .Cart-icon {
  color: orange;
}

.icon-box {
  display: flex;
}

.icon-container {
  margin-right: 10px;
}

.icon:hover> :nth-child(odd) {
  color: #ff7004;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.icon-box span:hover {
  color: black;
}

.icon-container span {
  margin: 5px;
  color: grey;
}

.icon {
  cursor: pointer;
  margin-right: 10px;
  width: 30px;
}

.icon-box .icon-container {
  border-right: 1px solid grey;
  position: relative;
}


.icon-box .icon-container:last-child {
  border-right: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0px;
  z-index: 100;
  display: none;
}

.icon-container:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 4px 0;
}

.dropdown-menu a:hover {
  background-color: #f5f5f5;
}

li a {
  color: #333;
  text-decoration: none;
}
.len{
  position: absolute;
  width: 20px;
  height: 20px;
  bottom:-15 ;
  font-size: smaller;
  top:-5px;
  right: 2px;
  color:#fff;
  text-align: center;
  border-radius:10px;
  background-color:#ff7004;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
}