.section {
  display: flex;
  flex-direction:row;
  justify-content:center;
  gap:30px;
  padding:50px;
}

.images img {
  width: 100% !important;
}

.product_details {
  width: 50%;
  font-size: large;
}

.price {
  display: flex;
  font-size: 30px !important;
}

.oldPrice {
  color: #8c7b7b;
  font-size: 30px !important;
}

.newPrice {
  padding-left: 10px;
}

.button_container {
  padding-top: 10px;
  display: flex;
}

.counter_container {
  display: flex;
  align-items: center;
}

.counter_button {
  width: 30px;
  height: 60px;
  font-size: larger;
  border:1px solid #ff7004;
  background-color:transparent;
}
.counter_button:hover {
  background-color:  #ff7004;
  color:white;
  transition: all 0.4s;
}

.counter_value {
  width: 60px;
  height: 60px;
  border:1px solid #ff7004;
  padding-left: 25px;
  padding-top: 15px;
}

.add_to_cart {
  width: 200px;
  height: 100px;
  font-size: 20px;
  
}
.cart-btn{
  color:white;

  background-color:  #ff7004;
margin-left:15px;
  padding: 10px 30px;
  border: none;
  border-radius:2px;
  cursor: pointer;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  -ms-border-radius:2px;
  -o-border-radius:2px;
}
.cart-btn:hover{
  color:white;
  background:black;
  transition: all 0.4s;
}
.wishlist_compare_container {
  display: flex;
  border:none;
  background:none;
}

.wishlist-btn {
  padding-top: 20px;
  border:none;
  background:none;
}
.wishlist-btn:hover{
  color:  #ff7004;
  transition: all 0.4s;
}
.wishlist-btn .fas {
  color: #ff7004;
  margin-right:5px;
}
.wishlist-btn:hover .fas {
  color: #ff7004;
  transition: all 0.4s;
}
.share {
  padding-top: 5%;
  display: flex;
}

.social-icons a {
  margin-left: 5px;
}
.far, .fa-regular {
  font-weight: 400;
  margin-right: 10px;
}
.filter-options-2 {
  display: flex;
  justify-content: center;
  margin-bottom:0;
  gap:20px;
}
.filter-option-2 {
  padding: 5px;
  margin:5px;
  margin-bottom:0;
  cursor: pointer;
  font-weight:bold;
}
.filter-options-2 button{
  background-color: transparent;
  border: none;
}
.filter-option-2.active-2 {
  border-bottom:3px solid #ff7004;
  transition: all 0.2s;
}
.filter-option-2:hover {
  border-bottom:3px solid #ff7004;
  color:black;
  transition: all 0.2s;

}
.mainBorder{
width:90%;
margin:auto;
margin-top:0;
margin-bottom:30px;
padding:10px;
border:1px solid #ddd5d5;
}
@media only screen and (max-width: 1000px) {
  /* Mobile-specific styles here */
  .section {
    flex-direction: column;
    padding: 20px;
  }
  .images {
    width: 100%;
  }
  .product_details {
    width: 100%;
    font-size: medium;
  }
  .price {
    font-size: 20px;
  }
  .counter_button {
    width: 40px;
    height: 40px;
  }
  .counter_value {
    width: 80px;
    height: 40px;
    padding-left: 15px;
    padding-top: 10px;
  }
  .add_to_cart {
    width: 100%;
    height: 60px;
    font-size: 18px;
  }
  .cart-btn {
    padding: 10px 20px;
    margin-left:10px;
  }
  .wishlist_compare_container {
    flex-direction: column;
  }
  .wishlist-btn {
    padding-top: 10px;
  }
  .share {
    padding-top: 2%;
  }
  
  .mainBorder {
    width: 90vw;
    padding: 5px;
  }
}