.reviews-container {
    display: flex;
    margin: auto;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
   
  }
  .review-item:first-child {
    margin-top: 40px;
  }
  
  .username {
    margin-bottom: 10px;
  }
  .rev-username{
    margin: 0;
    font-size: large;
    font-weight: 100;
  }

  
  .rating {
    width:100%;
    margin-bottom: 10px;
  }
  .rev-message{
    font-weight: lighter;
    padding-top: 5px;
  }
  .message {
    margin-bottom: 20px;
  }
  
  .add-review-form {
    width: 500px;
    margin-top: 20px;
    display: flex;
    flex-direction: column
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
  }

.optional{
    color: #bbb;
    font-size: 12px;
}
.submit-button{
    width:30%;
    background-color: #ff7004;
    margin: 10px 0 20px 0;
    padding: 12px 0;
    font-size: 14px;
    min-width: 100px;
    border: none;
    transition: 0.3s;
    color: white;
}
.submit-button:hover{
    background-color: #2f333a;
    color: white;
}
  

  .review-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 30px;
    padding: 20px;
  }
  .review-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .review-content .review-img {
    width: 120px;
    height: 120px;
    display: flex;
    flex: 0 0 120px;
    margin: 0px 15px 0px 0px;
    align-items: center;
    justify-content: center;
    color: rgb(71, 71, 71);
    border-radius: 50%;
    border: 1px solid rgb(208 206 206);
}
.review-content .review-img svg {
    font-size: 50px;
}
  
.form-control{
    border-radius: 3px; 
}
.form-control:focus{
    border-color: #ff7004;
    box-shadow: none;
    background-color: transparent;
}
@media only screen and (max-width: 1000px) {

  .reviews-container {

    flex-direction: column-reverse;
  }

  .review-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
    padding: 20px;
    align-items: flex-start;
    justify-content: flex-start;
  }
}