.wishlist-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.wishlist-table {
  padding: 20px;
}

.wishlist-container table {
  width: 100%;
  margin-bottom: 20px;
}

.wishlist-container thead {
  background-color: #f2f2f2;
}

.wishlist-container tbody tr td:first-child {
  border-left: 1px solid #ddd;
}

.wishlist-container tbody tr td:last-child {
  border-right: 1px solid #ddd;
}

.wishlist-container th, .wishlist-container td {
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.wishlist-container th {
  font-weight: bold;
  background-color: #d7d7d7;
}

.wishlist-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.add-to-cart {
  background-color: #f90;
  color:white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size:12px;
  transition-duration: 0.3s;
}
.add-to-cart:hover {
  background-color: #000;
}

.remove-item {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #000;
  transition-duration: 0.3s;
}
.remove-item:hover {
  color: #f90;
}

.wishlist-container table td, .wishlist-container table th {
  text-align: center;
  vertical-align: middle;
}

.wishlist-container table td img {
  display: block;
  margin: 0 auto;
}