*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
}
body {
    min-height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
    background: #f7f7f7;
}